@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Kolker+Brush", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 100px;
}

.countdown-container {
  display: flex;
  margin-bottom: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
