@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://pbs.twimg.com/profile_images/1519730490919747584/aBNirN8-_400x400.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Kolker+Brush", sans-serif;
  margin: 0;
  color: white;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 100px;
}

.countdown-container {
  display: flex;
  margin-bottom: 400px;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.5rem;
}
